{% extends '@app/index.html.twig' %}
{% import "@app/meta/forms.html.twig" as forms %}

{% block container %}
    <form method="POST" action="{{ path(form_action) }}" autocomplete="off">
        <div class="form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <em class="fas fa-fw fa-key"></em>
                    </span>
                </div>
                <input type="text" name="secret" class="form-control form-control-lg{% if form.errors.secret %} is-invalid{% endif %} js-tooltip" value="{{ form.data.secret }}" placeholder="Your secret key" data-toggle="tooltip" data-placement="top" title="Your secret key"/>
                <input type="text" class="col form-control form-control-lg{% if form.errors.hash %} is-invalid{% endif %} js-tooltip" value="{{ cyptor_hash }}" disabled data-toggle="tooltip" data-placement="top" title="Instance secret key hash"/>
                {{ forms.error(form, 'secret') }}
                {{ forms.error(form, 'hash') }}
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-2">
                {% block input %}
                {% endblock %}
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <em class="fas fa-angle-double-right"></em>
                Submit
            </button>
        </div>
        {{ forms.error(form, 'form', 'd-block') }}
    </form>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.js-tooltip').tooltip();
        });
    </script>
{% endblock %}
