{% extends '@app/index.html.twig' %}
{% import "@app/meta/forms.html.twig" as forms %}

{% block container %}
    <form method="POST" action="{{ path(form_action) }}" autocomplete="off">
        {% block secrets_group %}
            <div class="form-row">
                {% block secret1_form_group %}
                    <div class="form-group {% block secret1_form_group_class %}col-md-12 col-lg-5{% endblock %}">
                        <label for="secret">
                            <em class="fas fa-fw fa-key"></em>
                            Your secret key
                        </label>
                        <div class="input-group">
                            <input type="password" id="secret" name="secret" class="form-field-secret form-control form-control-lg{% if form.errors.secret %} is-invalid{% endif %} js-tooltip" value="{{ form.data.secret }}" placeholder="Your secret key" data-toggle="tooltip" data-placement="top" title="Your secret key" {% if form.autofocus === 'secret' %} autofocus{% endif %}/>
                            <div class="input-group-append">
                                <div class="btn btn-outline-warning btn-lg js-tooltip js-input-password-toggle" role="button" for=".form-field-secret" data-toggle="button" data-toggle="tooltip" data-placement="top" title="Show secret key">
                                    <em class="fas fa-fw fa-eye"></em>
                                </div>
                            </div>
                            {{ forms.error(form, 'secret') }}
                        </div>
                    </div>
                {% endblock %}
                {% block secret2_form_group %}
                    <div class="form-group {% block secret2_form_group_class %}col-md-9 col-lg-5{% endblock %}">
                        <label for="secret">
                            <em class="fas fa-fw fa-key"></em>
                            Repeat Your secret key
                        </label>
                        <input type="password" id="secret2" name="secret2" class="form-field-secret form-control form-control-lg{% if form.errors.secret %} is-invalid{% endif %} js-tooltip" value="{{ form.data.secret2 }}" placeholder="Repeat secret key" data-toggle="tooltip" data-placement="top" title="Your secret key (repeat)" {% if form.autofocus === 'secret2' %} autofocus{% endif %}/>
                        {{ forms.error(form, 'secret2') }}
                    </div>
                {% endblock %}
                {% block hash_form_group %}
                    <div class="form-group {% block hash_form_group_class %}col-md-3 col-lg-2{% endblock %}">
                        <label for="hash">
                            <em class="fas fa-fw fa-hashtag"></em>
                            Instance hash
                        </label>
                        <input type="text" id="hash" class="form-control form-control-lg{% if form.errors.hash %} is-invalid{% endif %} js-tooltip" value="{{ cyptor_hash }}" disabled data-toggle="tooltip" data-placement="top" title="Instance secret key hash"/>
                        {{ forms.error(form, 'hash') }}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
        {% block input_form_group %}{% endblock %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <em class="fas fa-angle-double-right"></em>
                Submit
            </button>
        </div>
        {{ forms.error(form, 'form', 'd-block') }}
    </form>
{% endblock %}
