{% extends '@app/index.html.twig' %}

{% block container %}
    <div class="list-group">
        <div class="list-group-item">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h5>
                    <em class="fas fa-fw fa-hashtag"></em>
                    Instance secret key hash
                </h5>
            </div>
            <p>
                {{- cyptor_hash -}}
            </p>
        </div>
        <div class="list-group-item">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h5>
                    <em class="fas fa-fw fa-key"></em>
                    Your secret key
                </h5>
                <div class="btn-group">
                    <a href="#" class="btn btn-outline-primary btn-sm js-tooltip js-copy" role="button" data-toggle="tooltip" data-placement="top" data-copy="{{ form.data.secret }}" title="Copy secret key to clipboard">
                        <em class="fas fa-fw fa-copy"></em>
                    </a>
                    <a href="#" class="btn btn-outline-warning btn-sm js-tooltip js-show-text" for="#form_secret" role="button" data-toggle="button" data-toggle="tooltip" data-placement="top" title="Show secret key">
                        <em class="fas fa-fw fa-eye"></em>
                    </a>
                </div>
            </div>
            <div>
                <div id="form_secret-asterix">***</div>
                <div id="form_secret-plain" class="d-none">
                    {{- form.data.secret -}}
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h5>
                    <em class="fas fa-fw fa-comment-alt"></em>
                    Decrypted message
                </h5>
                <div class="btn-group">
                    <a href="#" class="btn btn-outline-primary btn-sm js-tooltip js-copy" role="button" data-toggle="tooltip" data-placement="top" data-copy="{{ form.data.decrypted }}" title="Copy decrypted message to clipboard">
                        <em class="fas fa-fw fa-copy"></em>
                    </a>
                    <a href="#" class="btn btn-outline-warning btn-sm js-tooltip js-show-text" for="#form_decrypted" role="button" data-toggle="button" data-toggle="tooltip" data-placement="top" title="Show decrypted message">
                        <em class="fas fa-fw fa-eye"></em>
                    </a>
                </div>
            </div>
            <div>
                <div id="form_decrypted-asterix">***</div>
                <div id="form_decrypted-plain" class="d-none">
                    {%- if form.data.decryptedNice is not empty -%}
                        <ul class="list-group list-group-flush">
                            {%- for index,row in form.data.decryptedNice -%}
                                <li class="list-group-item d-flex justify-content-between align-items-center w-100">
                                    <div>
                                        {% if row.name.type == 'text' %}
                                            <strong>{{ row.name.value }}</strong>
                                        {% elseif row.name.type == 'icon' %}
                                            <em class="{{ row.name.value }}"></em>
                                        {% endif %}
                                        {% if row.data.type == 'kbd' %}<kbd>{% else %}<span class="text-primary">{% endif %}
                                            <span id="form_decrypted_{{ index }}-asterix">***</span>
                                            <span id="form_decrypted_{{ index }}-plain" class="d-none">
                                                {{- row.data.value -}}
                                            </span>
                                        {% if row.data.type != 'kbd' %}</span>{% else %}</kbd>{% endif %}
                                    </div>
                                    <div class="btn-group">
                                        {% if row.data.type == 'link' %}
                                            <a href="{{ row.data.value }}" target="_blank" class="btn btn-outline-secondary btn-sm js-tooltip" role="button" data-toggle="tooltip" data-placement="top" title="Open{% if row.name.type == 'text' %} {{ row.name.value }}{% endif %} in new window">
                                                <em class="fas fa-fw fa-external-link-alt"></em>
                                            </a>
                                        {% endif %}
                                        <a href="#" class="btn btn-outline-primary btn-sm js-tooltip js-copy" role="button" data-toggle="tooltip" data-placement="top" data-copy="{{ row.data.value }}" title="Copy{% if row.name.type == 'text' %} {{ row.name.value }}{% endif %} to clipboard">
                                            <em class="fas fa-fw fa-copy"></em>
                                        </a>
                                        <a href="#" class="btn btn-outline-warning btn-sm js-tooltip js-show-text" for="#form_decrypted_{{ index }}" role="button" data-toggle="button" data-toggle="tooltip" data-placement="top" title="Show{% if row.name.type == 'text' %} {{ row.name.value }}{% endif %}">
                                            <em class="fas fa-fw fa-eye"></em>
                                        </a>
                                    </div>
                                </li>
                            {%- endfor -%}
                        </ul>
                    {%- else -%}
                        {{- form.data.decrypted|raw -}}
                    {%- endif -%}
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h5>
                    <em class="far fa-fw fa-comment-alt"></em>
                    Encrypted message
                </h5>
                <div class="btn-group">
                    <a class="btn btn-outline-secondary btn-sm js-tooltip" href="{{ path('app_encrypted_hash', {encrypted:form.data.encrypted, hash:cyptor_hash}) }}" target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="top" title="Open share link with encrypted message">
                        <em class="fas fa-fw fa-external-link-alt"></em>
                    </a>
                    <a href="#" class="btn btn-outline-primary btn-sm js-tooltip js-copy" role="button" data-toggle="tooltip" data-placement="top" data-copy="{{ url('app_encrypted_hash', {encrypted:form.data.encrypted, hash:cyptor_hash}) }}" title="Copy entrypted link to clipboard">
                        <em class="fas fa-fw fa-link"></em>
                    </a>
                    <a href="#" class="btn btn-outline-primary btn-sm js-tooltip js-copy" role="button" data-toggle="tooltip" data-placement="top" data-copy="{{ form.data.encrypted }}" title="Copy entrypted message to clipboard">
                        <em class="fas fa-fw fa-copy"></em>
                    </a>
                    <a href="#" class="btn btn-outline-warning btn-sm js-tooltip js-show-text" for="#form_encrypted" role="button" data-toggle="button" data-toggle="tooltip" data-placement="top" title="Show decrypted message">
                        <em class="fas fa-fw fa-eye"></em>
                    </a>
                </div>
            </div>
            <div>
                <div id="form_encrypted-asterix">***</div>
                <div id="form_encrypted-plain" class="d-none">
                    <div class="d-inline-block text-break w-100">
                        {{- form.data.encrypted -}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block scripts %}
     {{ parent() }}
     <script>
         function copyToClipboard(text, el) {
             var copyTest = document.queryCommandSupported('copy');
             var elOriginalText = el.attr('data-original-title');
             if (copyTest === true) {
                 var copyTextArea = document.createElement("textarea");
                 copyTextArea.value = text;
                 document.body.appendChild(copyTextArea);
                 copyTextArea.select();
                 try {
                     var successful = document.execCommand('copy');
                     var msg = successful ? 'Copied!' : 'Whoops, not copied!';
                     el.attr('data-original-title', msg).tooltip('show');
                 } catch (err) {
                     console.log('Oops, unable to copy');
                 }
                 document.body.removeChild(copyTextArea);
                 el.attr('data-original-title', elOriginalText);
             } else {
                 window.prompt("Copy to clipboard: Ctrl+C or Command+C, Enter", text);
             }
         }

         $(document).ready(function () {
             $('.js-tooltip').tooltip();
             $('.js-copy').click(function () {
                 var text = $(this).attr('data-copy');
                 var $el = $(this);
                 copyToClipboard(text, $el);
             });
             $('.js-show-text').click(function () {
                 var el = $(this).attr('for');
                 if ($(this).hasClass('active')) {
                     $(el + '-asterix').removeClass('d-none');
                     $(el + '-plain').addClass('d-none');
                 } else {
                     $(el + '-asterix').addClass('d-none');
                     $(el + '-plain').removeClass('d-none');
                 }
             });
         });
     </script>
 {% endblock %}
